@model IEnumerable<E_Commerce_Final.Models.Entities.Order>

@{
    ViewData["Title"] = "GetAllOrders";
}

<h1>GetAllOrders</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customer.CustomerID)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customer.Name)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
               
            
        </tr>
}
    </tbody>
</table>
